
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
}
.container div{
    width: 6rem ;
    height: 5rem ;
    margin: 0.125rem;
    display: inline-block;
}
.container div:nth-child(2n+0) {
    background-color: aquamarine;
    color:black;
    margin-top: 50px;
    padding-top: 50px;
    vertical-align: 50px;
    
    
  }
.container div:nth-child(2n+1) {
    background-color: aquamarine;
    color:black;
    text-align: center;
    vertical-align: 50px;
    margin-top: 50px;
    padding-top: 50px;
    
}
.container div:nth-child(3n+3){
    background-color: red;
}
.container2{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container2 div{
    width: 15%;
    flex: none;
    margin: 0.125rem;
}
.container2 div:nth-child(2n+0) {
    background-color: aquamarine;
    color:black;
    display: flex;
    align-items: center;
  }
.container2 div:nth-child(2n+1) {
    background-color: aquamarine;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 div:nth-child(3n+3){
    background-color: red;
}
.container3{
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.container3 div:nth-child(2n+0) {
    background-color: aquamarine;
    color:black;
    display: flex;
    align-items: center;
    margin: 0.125rem;
  }
.container3 div:nth-child(2n+1) {
    background-color: aquamarine;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.125rem;
}
.container3 div:nth-child(3n+3){
    background-color: red;
}

.container4{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}
.container4 div{
    background-color: blanchedalmond;
    width: 6rem;
    height: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
}
.a{

    position: absolute;
    left: 12.5rem;
    top: 6.25rem;
    display: flex;
    justify-content: center;
}
.b{
    position: absolute;
    left: 18.75rem;
    top: 6.25rem;
    display: flex;
    align-items: center;
}
.c{
    background-color: red !important;
    position: absolute;
    left: 25rem;
    top: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d{
    position: absolute;
    left: 12.5rem;
    top: 12.5rem;
    display: flex;
    align-items: center;
}
.e{
    position: absolute;
    left: 18.75rem;
    top: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f{
    background-color: red !important;
    left: 25rem;
    top: 12.5rem;
    position: absolute;
    display: flex;
    align-items: center;
}